{%	extends	"shop/base.html"	%}
{%	load	static	%}
{%	block	title	%}
		{{	product.name	}}
{%	endblock	%}
    <link rel="stylesheet" href="{% static "css/base.css"%}">

{%	block	content	%}
		<div	class="product-detail">
				<img	src="
				{%	if	product.pk == 6	%}
										{%	static	'img/iphone.png'	%}
										{%  elif product.pk == 7 %}
										{%	static	'img/oneplus.png'	%}
										{%  elif product.pk == 8 %}
										{%	static	'img/cricket.png'	%}
										{%  elif product.pk == 9 %}
										{%	static	'img/ball.png'	%}
										{%	else	%}
				{%	static	"img/no_image.png"	%}{%	endif	%}">
				<div class="desc">
				<h1>{{	product.name	}}</h1>
				<h3>Category: <a href="{{	product.category.get_absolute_url	}}">{{product.category}}</a></h3>
				<p	class="price">Price: Rs {{	product.price	}}</p>
                <form action="{% url "cart:cart_add" product.id	%}"	method="post">
		{{ cart_product_form }}
		{% csrf_token %}
		<input type="submit" value="Add	to cart">
</form>
<hr>
				{{	product.description|linebreaks	}}
		</div>
		</div>
{%	endblock	%}